/* CSS Document */
body { font-family:Georgia, "Times New Roman", Times, serif;font:12px/22px Arial, Helvetica, sans-serif; color:#15428B; padding:0; margin:0; background:#ffffff;
    overflow-x:hidden;}

ul, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 { margin:0; padding:0; list-style-type:none;}

img, img a { border:none;}

.btn1 { width:59px; height:24px; line-height:24px; font-size:14px; text-align:center; margin:0 4px; display:inline-block; background:url(images/btn2_bg0.gif) no-repeat;}
.btn1:hover { color:#000; background:url(images/btn2_bg1.gif) no-repeat;}

.btn2 { float:left; height:24px; line-height:24px; padding-right:10px; margin-right:4px; display:inline-block; background:url(images/btn5_bg.gif) no-repeat right top;}
.btn2 span { display:block; padding-left:10px; background:url(images/btn5_bg.gif) no-repeat left -24px;}


/* wrapper */
.wrapper { margin:0 auto; width:100%; overflow:hidden;}

/* login */
.login { position:absolute; left:50%; top:50%; width:472px; height:380px; margin:-190px 0 0 -236px; background:url(images/login_bg.png) center no-repeat;
}
.login_text { margin:110px 0 0 217px;}
.login_btn { width:76px; height:26px; line-height:26px; color:#FFF; text-align:center; border:none; cursor:pointer; background:url(images/login_btn0.gif) no-repeat;}

.login_input { width:135px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/login_input.gif) no-repeat;}

.login_checkbox { color:#6F6F6F;}

.login label { float:left; width:60px; font-size:14px; font-weight:bold; color:#000;}
.login p { height:26px; line-height:26px; padding-bottom:8px;}


.location {
	zoom: 1;
	border-bottom: 1px solid #CDCED0;
	margin: 15px 10px 5px 0px;
	padding-bottom: 13px;
}
/* container */
.containers { padding:20px 50px 100px 50px;}



.myInfo_box { padding-bottom:15px; border-bottom:1px solid #CDCED0; overflow:hidden;}
.myInfo_box a { padding-right:18px;}
.myInfo_box a:hover { font-weight:bold;}

.myInfo_title { font-size:14px; font-weight:bold;}
.myInfo_title1 { color:#076FD0;}


.page {  height:30px; line-height:30px; margin:10px 0;}
.selectAll { float:left; padding-left:10px;}

.pageNum { float:right;}
.pageNum a { display:inline-block; padding:0 9px; text-align:center;}
.pageNum_curr { background:url(images/page_bg.gif) center no-repeat;}


/* tck */
.tck_title { padding-left:5px; font-size:14px; color:#FFF; font-weight:bold;}

.rounded { float:left; height:22px; line-height:22px;  margin-right:4px; display:inline-block; background:url(images/btn7_bg.gif) no-repeat right top;}
.rounded span { display:block; padding-left:10px; background:url(images/btn7_bg.gif) no-repeat left -22px;}
.rounded span a{color:#000000;font-weight:bold;}
a.btn41 { margin:0 3px; cursor:pointer;}
a.btn41, a.btn41 span { height:22px; line-height:21px; padding-left:12px; font-weight:bold; color:#000; display:inline-block; text-indent:0; background:url(images/btn4.gif) left top no-repeat;}
a.btn41 span { padding:0; padding-right:12px; background-position:right top;}

.input_sorter { width:40px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_40.gif) no-repeat;}
.input_sort { width:70px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_70.gif) no-repeat;}
.input_normol { width:145px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_normol.gif) no-repeat;}
.input_long { width:200px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_200.gif) no-repeat;}
.input_40 { width:40px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_40.gif) no-repeat;}
.input_50 { width:50px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_50.gif) no-repeat;}
.input_60 { width:60px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_60.gif) no-repeat;}
.input_70 { width:70px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_70.gif) no-repeat;}
.input_80 { width:80px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_80.gif) no-repeat;}
.input_145 { width:145px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_normol.gif) no-repeat;}
.input_160 { width:160px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_160.gif) no-repeat;}
.input_180 { width:180px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_180.gif) no-repeat;}
.input_200 { width:200px; height:26px; line-height:26px; padding:0 5px; border:none; background:url(images/input_200.gif) no-repeat;}

.input_free { height:26px; line-height:26px; padding-right:10px; display:inline-block; background:url(images/input_free.gif) no-repeat right top;}
.input_free span { display:block; padding-left:10px; background:url(images/input_free.gif) no-repeat left -26px;}
.input_text { width:100%; height:22px; line-height:21px; margin-top:2px; border:none; background:none; outline:none;}


.page2 { float:left; height:22px; line-height:22px; padding-right:5px; margin-right:1px; display:inline-block; background:url(images/btn7_bg.gif) no-repeat right top;}
.page2 span { display:block; padding-left:5px; background:url(images/btn7_bg.gif) no-repeat left -22px;}

a.btngr, a.btnyew,a.btnblue { margin:0 3px; cursor:pointer;text-decoration: none;}
a.btngr, a.btnyew{color:#000}

a.btngr, a.btngr span, a.btngr:hover, a.btngr:hover span,
a.btnyew, a.btnyew span, a.btnyew:hover, a.btnyew:hover span,
a.btnblue, a.btnblue span, a.btnblue:hover, a.btnblue:hover span { height:24px; line-height:23px; padding-left:12px; display:inline-block; text-indent:0;}
a.btnblue, a.btnblue span, a.btnblue:hover, a.btnblue:hover span { height:26px; line-height:25px; color:#FFF;}

a.btngr, a.btngr span, a.btngr:hover, a.btngr:hover span { background:url(images/btn0.gif) left top no-repeat;}
a.btnyew, a.btnyew span, a.btnyew:hover, a.btnyew:hover span { background:url(images/btn2.gif) left top no-repeat;}
a.btnblue, a.btnblue span, a.btnblue:hover, a.btnblue:hover span { background:url(images/btn3.gif) left top no-repeat;}

a.btngr span, a.btnyew span, a.btnblue span { padding:0; padding-right:12px; background-position:right top;}

a.btngr:hover, a.btnyew:hover {text-decoration:none; color:#000; background-position:left bottom;}
a.btnblue:hover { color:#FFF; background-position:left bottom;text-decoration: none}

a.btngr:hover span, a.btnyew:hover span , a.btnblue:hover span{ padding:0; padding-right:12px; background-position:right bottom;}

#pageNav a.btnn { 
    margin:0 3px; 
    cursor:pointer;
}
#pageNav a.btnn, a.btnn span { 
	height:22px; 
	line-height:21px; 
	padding-left:12px; 
	font-weight:bold; 
	color:#000; display:inline-block; 
	text-indent:0; 
	background:url(css/images/btn4.gif) left top no-repeat;
}
#pageNav a.btnn span { 
	padding:0; 
	padding-right:12px; 
	background-position:right top;
}
#pageNav a.bn{
	padding-left:8px;
}

.myDatePicker{
    background: url("css/images/input_datePicker.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    width: 145px;

}

#tDiv {
	zoom: 1;
	padding: 0px;
	margin: 20px 0px 0px 0px;
}

#table1 {
	text-align: center;
	border: 1px solid #8DB2E3;
	font-size: 13px;
	border-collapse: collapse;
}
#headTr td,th {
	background: url("../css/images/nav_link.png") repeat-x scroll center
		center transparent;
	border-bottom: medium none;
	border-top: 1px solid #8DB2E3;
	font-size: 12px;
	font-weight: bold;
	border: 0px;
}

.idr {
  onmouseover: expression(onmouseover=function   (){this.style.borderColor   ='blue';this.style.color='red';this.style.backgroundColor   ='#D2E0F2'});   
 
  onmouseout:   expression(onmouseout=function   (){this.style.borderColor='';this.style.color='';this.style.backgroundColor   =''});    
  background-color:#ffffff;    
}   

#table1 tr {
	height: 20px;
}

#table1 td,th {
	border: 1px solid #8DB2E3;
}






.mainContainer{
	position:relative;
	top:5px;
	width:auto;
	height:640px;
	margin:4px 50px;
}

.multiSelector{
	width:auto;
	margin:1px 0;
	overflow:hidden;
	zoom:1;
}
.multiSelectorList div{
	display:inline-block;
	display:inline;
}
.multiSelectorList div span{
	margin:0 8px;
	padding-left:10px;
	display:inline-block;
	cursor:pointer;
}

.keyTitle{
	width:60px;
	text-align:left;
	cursor:default;
}

.keyValue{
	width:auto;
	color:#0d67d7;
	float: left;
}
.keyTitle, .keyValue div{
	line-height:22px;
		float: left;
}
.times{
    background: url("images/input_datePicker.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    width: 145px;
}
