<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldheaven.core.dao.IConvertRecordDao">

 <select id="getConvertRecordListByParam" resultType="ConvertRecordInfo">
    select * from convert_record_info
 </select>
 
 <select id="getConvertRecordNumByParam" resultType="int">
    select count(id) from convert_record_info
 </select>
	
</mapper>