<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldheaven.core.dao.IOrderDao">

    <select id="isOrderExist" resultType="int" parameterType="java.lang.Long">
		select count(id) from order_info where orderId = #{orderId} and channelId = #{channelId}
	</select>
	
	<select id="getOrderListByParam" resultType="OrderInfo">
	    select * from order_info
	</select>
	
	<select id="getOrderNumByParam" resultType="int">
	    select count(id) from order_info
	</select>
	
	<insert id="saveOrder" parameterType="OrderInfo">
	    insert into order_info 
	    (orderId, adName, channelId, goldcoins, deviceId, time, userId)
	    values 
	    (#{orderId}, #{adName}, #{channelId}, #{goldcoins}, #{deviceId}, #{time}, #{userId})
	</insert>
	
	<delete id="deleteOrder" parameterType="long">
	    delete from order_info where id = #{id}
	</delete>
	
</mapper>