<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldheaven.core.dao.IOrderDao">

    <select id="isOrderExist" resultType="int" parameterType="java.lang.Long">
		SELECT count(id) from order where orderId = #{orderId} and channelId = #{channelId}
	</select>
	
</mapper>