<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldheaven.core.dao.IUserAccountDao">

   <select id="getUserAccountByUserId" resultType="UserAccountInfo" parameterType="long">
       select * from user_account_info where userId = #{userId}
   </select>
   
   <select id="getUserAccountListByParam" resultType="UserAccountInfo">
       select * from user_account_info
   </select>
   
   <select id="getUserAccountNumByParam" resultType="int">
       select count(id) from user_account_info
   </select>
	
</mapper>