<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldheaven.core.dao.IUserDao">
	
	<select id="getUserById" resultType="UserInfo" parameterType="java.lang.Long">
		SELECT * FROM USER WHERE ID = #{id}
	</select>
	
	<select id="getUserListByParam" resultType="UserInfo">
	    select * from user
	</select>
	
	<select id="getUserNumByParam" resultType="int">
	    select count(id) from user
	</select>
	
	<insert id="saveUser" parameterType="UserInfo">
	    INSERT INTO USER (userName)
	    VALUES (#{userName})
	</insert>
	
	<update id="updateUser" parameterType="UserInfo">
	    update USER set
		userName = #{userName}
		where id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="java.lang.Long">
	    DELETE FROM USER WHERE ID = ${id}
	</delete>
	
</mapper>