<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldheaven.manage.dao.IAdminDao">

	<select id="getUserByNameAndPW" resultType="AdminInfo">
		select * from admin where userName = #{userName} and passWord = #{passWord}
	</select>
	
	<select id="getAdminList" resultType="AdminInfo">
	    select * from admin limit #{fristRow}, #{endRow}
	</select>
	
	<select id="getAdminNum" resultType="int">
	    select count(id) from admin
	</select>
	
	<insert id="saveAdmin">
	    insert into admin (userName, passWord, createTime)
	    values (#{userName}, #{passWord}, #{createTime})
	</insert>
	
	<delete id="deleteAdmin" parameterType="long">
	    delete from admin where id = #{id}
	</delete>

</mapper>